@import './_fonts';
@import './_reset';

:root {
	--black: #000;
	--white: #fff;

	--gray-700: #3b3b3b;
	--gray-500: #5d5d5d;
	--gray-300: #c4c4c4;
	--gray-200: #f9f7f6;
	--gray-100: #fff8fa;

	--primary-700: #780713;
	--primary-500: #be1622;

	--secondary-700: #541f42;
	--secondary-500: #e783c5;
	--secondary-200: #ed99b4;
	--secondary-100: #efa1ac;

	--shadow: rgba(255, 174, 223, 0.5);
	--Linear: linear-gradient(90deg, #efa1ac 0%, #e783c5 100%);
}

// Common

body {
	font-family: 'Gilroy';
	background-color: var(--white);
	color: var(--black);
}

a {
	color: var(--gray-700);
	text-decoration: none;

	&:hover {
		color: var(--primary-700);
	}
}

.container {
	max-width: 1410px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.button {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 15px 35px;
	border-radius: 5px;
	border: 1px;
	cursor: pointer;

	font-size: 18px;
	font-style: normal;
	font-weight: 700;

	&:hover {
		opacity: 0.9;
	}

	&-fill {
		color: var(--white);
		border: none;
		box-shadow: 0px 6px 15px 0px var(--shadow);
		background: var(--Linear);

		&:hover {
			color: var(--white);
		}

		&::before {
			content: '';
			position: relative;
			display: inline-block;
			background-image: url('/img/icons/heart-white.svg');
			width: 24px;
			height: 24px;
		}
	}

	&-outline {
		color: var(--secondary-700);
		border: 1px solid var(--secondary-100);
		box-shadow: 0px 6px 15px 0px var(--shadow);
	}
}

// ul.list-custom {
// 	li {
// 		position: relative;
// 		display: flex;

// 		&::before {
// 			content: '';
// 			position: relative;
// 			display: inline-block;
// 			background-image: url('/img/icons/heart-red.svg');
// 			width: 24px;
// 			height: 24px;
// 			margin-right: 15px;
// 		}
// 	}
// }

// Checkbox

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked) {
	position: absolute;
	left: -9999px;
}
input[type='checkbox']:checked + label,
input[type='checkbox']:not(:checked) + label {
	display: inline-block;
	position: relative;
	padding-left: calc(24px + 15px);
	cursor: pointer;
}
input[type='checkbox']:checked + label::before,
input[type='checkbox']:not(:checked) + label::before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
	border-radius: 3px;
	border: 1px solid var(--white);
	background-color: transparent;
}
input[type='checkbox']:checked + label::after,
input[type='checkbox']:not(:checked) + label::after {
	position: absolute;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
input[type='checkbox']:checked + label::after,
input[type='checkbox']:not(:checked) + label::after {
	content: url('img/icons/selected.svg');
	left: 0px;
	top: 0px;
	width: 24px;
	height: 24px;
}
input[type='checkbox']:not(:checked) + label::after {
	opacity: 0;
}
input[type='checkbox']:checked + label::after {
	opacity: 1;
}
input[type='checkbox']:checked + label::before {
	background-color: var(--white);
}
input[type='checkbox']:focus-visible + label::before {
	outline: 2px solid var(--white);
}

// Main

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 90px;
}

// Header

.header {
	position: sticky;
	top: 0;
	z-index: 2;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: var(--white);

	&__inner {
		display: flex;
		max-width: 1410px;
		width: 100%;
		gap: 10px;
		padding: 15px 10px;
		align-items: center;
		justify-content: space-between;
	}

	&-icon {
		display: flex;
		width: 45px;
		height: 45px;
		padding: 5px;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		background: transparent;
		border-radius: 5px;
		border: 1px solid var(--secondary-100);
		box-shadow: 0px 6px 15px 0px var(--shadow);

		&:hover {
			box-shadow: none;
		}

		img {
			flex-shrink: 0;
			width: 24px;
			height: 24px;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		gap: 30px;

		&-image {
			width: 100px;
			height: 100px;
			flex-shrink: 0;
		}

		&-title {
			color: var(--gray-700);
			font-family: 'Allegretto Script One', serif;
			font-size: clamp(34px, 3vw, 44px);
			font-style: italic;
			font-weight: 400;
			line-height: 30px;
			max-width: 250px;
			// min-width: 220px;
		}
	}

	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;

		ul {
			list-style: none;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 30px;
			padding-left: 0;
		}

		&-link {
			color: var(--gray-700);
			font-size: 16px;
			font-weight: 600;
			line-height: 20px;
		}
	}

	&__social {
		display: flex;
		align-items: center;
		gap: 15px;
	}

	&__tel {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-link {
			display: none;
		}

		&-number {
			font-size: clamp(18px, 2vw, 24px);
			font-weight: 700;
			line-height: 125%;
			text-align: center;
			white-space: nowrap;

			a {
				color: var(--primary-500);
			}

			a:hover {
				color: var(--primary-700);
			}
		}

		&-subtitle {
			color: var(--secondary-700);
			font-size: 18px;
			line-height: normal;
			font-weight: 700;
			text-align: center;
		}
	}

	&__burger {
		display: none;
		position: relative;

		&-checkbox {
			position: absolute;
			display: block;
			height: 40px;
			width: 40px;
			z-index: 2;
			opacity: 0;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 992px) {
	.header__logo-image {
		display: none;
	}
	.header__nav ul {
		gap: 15px;
	}
	.header__social {
		gap: 10px;
	}
	.header__tel-link {
		display: flex;
	}
	.header__tel-number,
	.header__tel-subtitle {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.header__burger {
		display: flex;
	}

	.header__nav {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.header__social {
		display: none;
	}
}

// Header mobile

.header:has(.header__burger-checkbox:checked) .header__mobile {
	display: flex;
	align-self: flex-start;
}

.header__mobile {
	display: none;

	.header__inner {
		padding-top: 0px;
		flex-direction: column;
		align-items: flex-start;
		gap: 0;
	}

	.header__social {
		display: flex;
		flex-wrap: wrap;
		border-top: 2px solid var(--primary-500);
		padding-top: 15px;
	}
	.header__tel {
		display: flex;
		width: 100%;
		align-items: flex-start;
	}
	.header__tel-link {
		display: none;
	}
	.header__tel-number,
	.header__tel-subtitle {
		display: flex;
	}

	.header__nav {
		display: block;

		ul {
			flex-direction: column;
			align-items: flex-start;
		}
	}
}

@media screen and (min-width: 769px) {
	.header__mobile {
		display: none !important;
	}
}

// Footer

.footer {
	color: var(--white);
	background: var(--primary-700);

	&__inner {
		padding: 40px 10px;
		text-align: center;
	}
}

// Hero

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__info {
		max-width: 50%;
	}

	&__title {
		align-self: stretch;
		color: var(--secondary-700);
		font-size: clamp(24px, 4vw, 50px);
		font-style: normal;
		font-weight: 700;
		line-height: 105%;
		margin-bottom: 15px;

		&-red {
			color: var(--primary-500);
			font-size: clamp(24px, 4vw, 60px);
			line-height: 125%;
			margin-bottom: 15px;
		}
	}

	&__subtitle {
		color: var(--gray-700);
		font-size: clamp(18px, 3vw, 25px);
		font-weight: 600;
		line-height: 145%;
		margin-bottom: 25px;
	}

	&__list {
		color: var(--gray-500);
		font-size: 16px;
		font-weight: 400;

		&-item {
			position: relative;
			display: flex;

			&::before {
				content: '';
				position: relative;
				display: inline-block;
				background-image: url('/img/icons/heart-red.svg');
				width: 24px;
				height: 24px;
				margin-right: 15px;
			}

			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	&__buttons-container {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-top: 40px;
	}

	&__button {
	}

	&__image {
		max-width: 50%;
		min-width: 400px;
	}
}

@media screen and (max-width: 768px) {
	.hero {
		flex-direction: column-reverse;

		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 100%;
		}

		&__title,
		&__title-red,
		&__subtitle {
			text-align: center;
			white-space: wrap;
		}
		&__list {
			&-item {
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}
		&__buttons-container {
			justify-content: center;
		}

		&__image {
			max-width: 100%;
			min-width: auto;
		}
	}
}

// Catalog
.catalog {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

	&__title {
		color: var(--secondary-700);
		font-size: 50px;
		font-weight: 700;
		line-height: 105%;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;

		&-image {
			border-radius: 15px;
			background: var(--gray-100);

			img {
				padding: 20px 15px;
			}
		}

		&-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
		}

		&-title {
			color: var(--secondary-700);
			font-size: clamp(18px, 6vw, 25px);
			font-weight: 600;
			line-height: 145%;
			text-align: center;
		}

		&-bottom {
			display: flex;
			align-items: center;
			gap: 30px;
		}

		&-price {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			white-space: nowrap;

			.price-new {
				color: var(--primary-500);
				font-size: clamp(24px, 4vw, 48px);
				font-weight: 700;
				line-height: 100%;
			}

			.price-old {
				color: var(--gray-700);
				font-size: clamp(16px, 3vw, 20px);
				font-weight: 400;
				line-height: 125%;
				letter-spacing: 0.6px;
				text-decoration: line-through;
			}
		}

		&-button {
		}
	}
}

@media screen and (max-width: 992px) {
	.catalog {
		&__list {
		}

		&__item {
			max-width: calc(50% - 30px);
		}
	}
}

@media screen and (max-width: 768px) {
	.catalog {
		&__list {
			gap: 15px;
		}

		&__item {
			gap: 10px;
			max-width: calc(50% - 15px);

			&-image {
				img {
					padding: 7px 5px;
				}
			}

			&-info {
				gap: 10px;
			}

			&-bottom {
				flex-direction: column;
				gap: 5px;
			}

			&-price {
				flex-direction: row-reverse;
				align-items: flex-start;
				gap: 3px;

				.price-new {
					line-height: 125%;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.catalog {
		&__list {
			gap: 30px;
		}

		&__item {
			max-width: 100%;
		}
	}
}

// Form

.form {
	color: var(--white);
	width: 100%;
	display: flex;
	padding: 90px 35px;
	align-items: center;
	justify-content: center;
	gap: 30px;
	background: url('/img/form-bg.png') center no-repeat;
	background-size: cover;

	&__left {
		max-width: 40%;
	}

	&__right {
		max-width: 60%;
		display: flex;
		flex-direction: column;
		gap: 25px;
	}

	&__title {
		font-size: clamp(25px, 5vw, 50px);
		font-weight: 700;
		line-height: 105%;

		&-accent {
			font-size: clamp(34px, 6vw, 60px);
		}
	}

	&__subtitle {
		font-size: clamp(18px, 4vw, 25px);
		font-weight: 600;
		line-height: 145%;
	}

	&__group {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 15px;

		&-contacts {
			.form__group {
				flex-grow: 1;
			}
		}

		&-privacy {
			max-width: 400px;
			flex-wrap: nowrap;

			.form__label {
				font-size: clamp(14px, 3vw, 16px);
			}
		}

		&-submit {
			justify-content: space-between;
		}

		&-checkboxes {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__label {
		font-size: 20px;
		font-weight: 400;
		line-height: 125%;
		letter-spacing: 0.6px;

		&-fixed-width {
			width: 95px;
		}

		&-email {
			width: auto;
		}
	}

	&__dropdown {
		position: relative;
		display: flex;
		flex-grow: 1;

		&-selected-item {
			cursor: pointer;
			display: flex;
			position: relative;

			&::after {
				content: url('/public/img/icons/triangle-white.svg');
				display: inline-block;
				position: relative;
				right: 0;
				top: 0;
				width: 10px;
			}

			&.active {
				border-radius: 8px 8px 0px 0px;
				background-color: var(--white);
				color: var(--primary-500);

				&::after {
					content: url('/public/img/icons/triangle-red.svg');
				}
			}
		}

		&-list {
			display: none;
			position: absolute;
			width: 100%;
			top: calc(100% + 2px);
			color: var(--black);
			background-color: var(--white);
			border: 1px solid var(--white);
			border-radius: 0px 0px 8px 8px;
			z-index: 1;

			li {
				padding: 10px 20px;

				&:hover {
					color: var(--primary-500);
					cursor: pointer;
				}
			}
		}
	}

	&__checkbox {
	}

	&__input {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		padding: 15px 20px;
		border-radius: 8px;
		border: 1px solid var(--white);
		background-color: transparent;
		color: var(--white);
		caret-color: var(--white);
		outline-color: var(--white);

		&::placeholder {
			color: var(--white);
			opacity: 1;
		}

		&::-ms-input-placeholder {
			color: var(--white);
		}
	}

	&__button {
		background: var(--white);
		color: var(--primary-500);

		&:hover {
			color: var(--primary-500);
		}
		&::before {
			background-image: url('/img/icons/heart-form.svg');
		}
	}
}

@media screen and (max-width: 1169px) {
	.form__label-email {
		width: 95px;
	}
}
@media screen and (max-width: 768px) {
	.form {
		flex-direction: column;
		background: url('/img/form-bg-mobile.png') center no-repeat;
		background-size: cover;

		&__right {
			max-width: 100%;
		}

		&__left {
			max-width: 100%;
			text-align: center;
		}

		&__group {
			flex-wrap: wrap;

			&-submit {
				justify-content: center;
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.form {
		padding: 55px 15px;

		&__label {
			width: 100%;
		}
	}
}

// Advantages

.advantages {
	display: flex;
	align-items: center;
	gap: 30px;

	&__image {
		max-width: 60%;
	}

	&__info {
		max-width: 40%;
	}

	&__title {
		color: var(--secondary-700);
		font-size: 50px;
		font-weight: 700;
		line-height: 105%;
		margin-bottom: 45px;
	}

	&__list {
	}

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-left: 46px;
		margin-bottom: 45px;

		&::before {
			content: '';
			position: absolute;
			display: inline-block;
			background-image: url('/img/icons/heart-red-big.svg');
			width: 31px;
			height: 31px;
			left: -46px;
		}

		&-title {
			color: var(--secondary-700);
			font-size: clamp(18px, 6vw, 24px);
			font-weight: 700;
			line-height: 125%;
		}

		&-description {
			color: var(--gray-700);
			font-size: clamp(16px, 5vw, 20px);
			font-weight: 400;
			line-height: 125%;
			letter-spacing: 0.6px;
		}
	}

	&__description {
		color: var(--gray-700);
		font-size: clamp(16px, 5vw, 20px);
		font-weight: 400;
		line-height: 125%;
		letter-spacing: 0.6px;
	}
}

@media screen and (max-width: 768px) {
	.advantages {
		flex-direction: column;

		&__image {
			max-width: 100%;
		}

		&__info {
			max-width: 100%;
		}

		&__title {
			font-size: 25px;
			font-weight: 600;
			text-align: center;
			margin-bottom: 15px;
		}

		&__item {
			margin-bottom: 15px;
		}
	}
}

// Cards

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	// align-items: center;
	column-gap: 30px;
	row-gap: 90px;

	&__item {
		max-width: 690px;
		max-height: 494px;
		border-radius: 15px;
	}
}

@media screen and (max-width: 768px) {
	.cards {
		grid-template-columns: 1fr;
		row-gap: 30px;
	}
}

// Delivery
.delivery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	margin-bottom: 30px;

	&__title {
		color: var(--secondary-700);
		font-size: clamp(25px, 6vw, 50px);
		font-weight: 700;
		line-height: 105%;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		flex-grow: 1;
		gap: 30px;
	}

	&__item {
		padding: 10px;
	}
}

/* Preset */
/* @media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
} */
